@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Poppins:wght@300&display=swap');

:root {
    --mainDarkest: rgb(0, 97, 132);
    --mainDark: #4A7DA5;
    --medDark: #5691B4;
    --mainLight: #A6CAD8;
    --lightestGray: #FBFBFB;
    --bs-body-font-family: "Poppings", sans-serif;
    --bs-font-sans-serif: "Poppings", sans-serif;
    --font-serif: "Noto Serif", serif;
    --box-shadow: rgba(74, 74, 74, 0.2) 0px 2px 4px;
    --border: 1px solid rgb(239, 240, 240);
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.btn, input.btn {
    color: white;
    background-color: var(--mainDark) !important;
    border: none !important;
}

.btn:hover {
    background-color: var(--mainDarkest);
}

a {
    color: var(--mainDark);
    text-decoration: none;
}

a:hover {
    color: var(--mainDarkest);
}

nav.navbar {
    background-color: var(--mainDark);
}

nav.navbar ul li a {
    color: white !important;
}

a.navbar-brand {
    color: white;
}

.logo-img {
    height: 50px;
    border-radius: 10px;
}

h1, .serif {
    font-family: var(--font-serif), serif;
}

/* Table */
table.table {
    border: var(--border);
    box-shadow: var(--box-shadow);
    background-color: var(--lightestGray);
}
table.table th {
    background-color: var(--medDark);
    color: white;
    font-family: var(--font-serif);
}

table.table tr:not(first-of-type) {
    border-top: 1.5px solid var(--mainLight);
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: space-evenly;
}

.speaker-edit {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}
/* End Table */
.main-img {
    max-height: 75vh;
}
input {
    background-color: var(--lightestGray) !important;
    box-shadow: var(--box-shadow);
    margin-bottom: 6px;
}

label {
    font-size: 13px;
    font-weight: bold;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

#details-div, #delete-div {
    margin: 2% 18% 2% 18%;
    justify-content: space-between;
    flex-wrap: wrap;
    line-height: 2.5;
}

.col-sm-9 {
    text-align: right;
}

#program-title {
    margin: auto;
    text-align: center;
}

.form-group form > div {
    margin-top: 3px;
    display: flex;
    justify-content: space-between;
}

.form-group form > div .btn {
    margin-top: 0;
}

.form-group .btn {
    margin-top: 5px;
}

.col-md-5 {
    margin: 0 auto;
}