@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Sacrament Meeting Planner</h1>
    <p></p>
    <img class="main-img" alt="Going to Sacrament Meeting" src="~/images/Designer.png"/>
</div>
